input[type="number"]{
    width: 60px;

  }

p{
    color:  rgb(0, 0, 0);
}

label{
    color: rgb(0, 0, 0)
   }

   h1, h2, h3, h4{
    color: rgb(0, 0, 0)
   }

   body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }

  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #04AA6D;
  }
  * {
    box-sizing: border-box;
  }

  @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    p{
        color:  rgb(255, 255, 255);
    }
    
    label{
        color: rgb(255, 255, 255)
       }
    
       h1, h2, h3, h4, h5, h6{
        color: rgb(255, 255, 255)
       }
 
  }

  .nav{
    background-color: rgb(21, 105, 202);
    display: flex;
    margin-top: 0px;
  }
  
.nav a{
  display: block;
  color: white;
  text-align: center;

  padding: 14px 16px;
 
  text-decoration: none;
  font-family: "Krungthep";
  font-weight: bold;
  float: left;
 
  border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
}
.nav img{
  display: block;
  float: left;
  
}

 .nav a:hover {
    color: rgb(255, 255, 255);

   font-weight: bold;
   background-color: rgb(192, 11, 95);
  }
  
  h2.pageHead{

    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Krungthep";
    font-weight: bold;

  }