

h1, h2, h3, h4, h5, h6 {
    color: rgb(20, 100, 250)
   
  }
  p{
   
    color: rgb(78, 171, 248)
}

html{
    background-color: black;
}
.lp-pom-text ul, li {

    list-style-type: c !important;
   

    
    }
    ol{
        font-family: "Krungthep";
        color: rgb(1, 173, 255);
    }

    ul{
        list-style-image: url('../img/bulletImagesmall.png');

    }

li{
    color:rgb(78, 171, 248)

}

hr{
    border-style: dashed;
    
    border-width: thin;

    border-color:rgb(117, 251, 227);



}
a:link {
    color: rgb(150, 150, 150);
   font-family: "Marker Felt";
font-weight: thin;
  }
  
  /* visited link */
  a:visited {
    color: rgb(100, 105, 105);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 255, 255);
   font-family: "Marker Felt";
   font-weight: bold;

  }
  
  /* selected link */
  a:active {
    color: rgb(167, 167, 167);
  }