p{
    text-align: center;
    
}
h2{
    text-size-adjust: 100;
}
td{
    font-size: 200;
    font-optical-sizing: 200;
}
span.emoji {
    font-size: 30px;
    vertical-align: middle;
    line-height: 2;
  }